<div id="top" class="topSection">
    <div class="header">

        <div class="headerLeft">

            <div class="nav">
                <a class="slide-right" id="nav1" href="#about">ABOUT</a>
                <a id="nav-line">I</a>
                <a class="slide-right" id="nav2" href="#projects">PROJECTS</a>
                <a id="nav-line">I</a>
                <a class="slide-right" id="nav3" href="#contact">CONTACT</a>
            </div>


            <div class="overflow-hidden">
                <h1 class="drop-in">IAN HALL SOFTWARE ENGINEER</h1>
            </div>
            <div class="overflow-hidden">
                <p class="drop-in-2">
                    Hello! Welcome to my web-dev portfolio. Here you'll find the meeting point of my creative and technical
                    mind. Or in other words, my happy place.
                </p>
            </div>

        </div>
        <div class="headerRight">

        </div>
    </div>

</div>

<div id="about" class="center">
    <section>
        <div class="container reveal">
            <h2></h2>
            <div class="text-container">
                <div class="text-box">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                        eius molestiae perferendis eos provident vitae iste.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                        eius molestiae perferendis eos provident vitae iste.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                        eius molestiae perferendis eos provident vitae iste.
                    </p>
                </div>

            </div>
        </div>
    </section>
</div>


<div id="projects" class="project-section">

    <h1  id="projectH1">FEATURED PROJECTS</h1>

    <div class="projects reveal">

        <div class="lowerProjectBlock">
            <div class="imgDiv">
                <h3 class="projectTitle">Defusal</h3>
                <div class="projectBlock1">
                    <img id="project1" class="projectPhoto1" src="./images/Defusal-screenshot.png" alt="project1" />             
                </div>

                <div class="container">
                    <form action="https://ianhallwdjun22.github.io/project-1-game" method="get" target="_blank"
                        rel="noopener noreferrer">
                        <button class="button">View</button>
                    </form>
                    <div class="drip-1"></div>
                    <div class="drip-2"></div>
                    <div class="drip-3"></div>
                </div>

            </div>
        </div>

        <div class="lowerProjectBlock">
            <div class="imgDiv">
                <h3 class="projectTitle">Dungeon Forge</h3>
                <div class="projectBlock2">
                    <img id="project2" class="projectPhoto2" src="./images/Dungeon-Forge-screenshot.png"
                        alt="project1" />
                </div>

                <div class="container">
                    <form action="https://quaint-toad-bracelet.cyclic.app" method="get" target="_blank"
                        rel="noopener noreferrer">
                        <button class="button">View</button>
                    </form>
                    <div class="drip-1B"></div>
                    <div class="drip-2B"></div>
                    <div class="drip-3B"></div>
                </div>

            </div>
        </div>

        <div class="lowerProjectBlock">

            <div class="imgDiv">
                <h3 class="projectTitle">baseNote</h3>
                <div class="projectBlock3">
                    <img id="project3" class="projectPhoto3" src="./images/big-baseNote.png" alt="project1" />
                </div>

                <div class="container">
                    <form action="https://jocular-centaur-f29739.netlify.app" method="get" target="_blank"
                        rel="noopener noreferrer">
                        <button type="submit" class="button">View</button>
                    </form>
                    <div class="drip-1"></div>
                    <div class="drip-2"></div>
                    <div class="drip-3"></div>
                </div>

            </div> 
        </div>

        <p id="hoverInfo"> HOVER OVER A PROJECT TO LEARN MORE!</p>

        <p class="info" id="info1">Defusal is a memory and focus game inspired by old classics such as Operation,
            Perfection, and Simon Says.
            You are tasked with disarming a bomb before the time runs out. To do this you must correctly
            repeat 15 sequences of a disarm code. Make a mistake and you have to restart on a new
            sequence. Make three mistakes and… boom! This game was built using JavaScript, CSS, and HTML,
            utilizing DOM manipulation. <br> (Play with your sound on for the best experience!)</p>

        <p class="info" id="info2">Dungeon Forge is a D&D character creator CRUD app designed to help
            inspire ideas and then create and store them. Sometimes the hardest
            step in the creative process is figuring out where to begin. Fortunately
            Dungeon Forge allows you to look at a gallery of every user’s created
            characters. Hopefully here you will find the inpiration you need to dive
            into the creation process. This project focuses primarily on
            the back-end, utilizing NodeJs, ExpressJs, and MongoDB.</p>

        <p class="info" id="info3">baseNote is a community resource for posting and tracking live local music.
            Instead of having to search individual websites to figure out where live music is being played,
            you can find everything you're looking for in one place; baseNote. An artist or a venue can create
            an account, then post a show which will appear on the main page of the app. All a user has
            to do is open the app and they are greeted with a list of every show taking place including
            the date, time, location, and artist that's playing. This "mobile-first" web app was built
            utilizing the MERN stack: MongoDB, ExpressJS, ReactJS, NodeJS.</p>


    </div>
    <div id="contact">

    </div>
    <div footer>

    </div>

