
<div class="topSection">
<div class="header">
    <div class="headerLeft">
        <h1 class="name">Ian Hall</h1>
        <p class="jobTitle"><B>WEB DEVELOPER</B></p>
        <p class="jobTitle"><B>PORTFOLIO</B></p>
        
    </div>
       
    <img class="myPic" src="./images/headshot.png" alt="headshot"/>

    <div class="headerRight">
        <div class="topRight">
            <div class="dropdown">
                <button class="dropbtn">Projects</button>
                <div class="dropdown-content">
                    <a href="/project1">Project 1</a>
                    <a href="/project2">Project 2</a>
                    <a href="/project3">Project 3</a>
                </div>
            </div>
       </div>
    </div>
</div>


<div class="midSection">
    <div class="midLeft">
        <div class="bioDescription">
       <h2 class="aboutMe"><b>About Me</b></h2>
        <article class="bioArticle"> TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST </article>
        </div>
    </div>

    <div class="midRight">
        <div class="contactTable">
                <h2 class="midH2">Contact Me</h2>
            <div class="topSquares">
                <div class="contactSquare">
                    <svg height="22px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                    </svg>

                    <h3>Email:</h3>
                    <article>ianmhall6@gmail.com</article>
                </div>
                <div class="contactSquare">
                    <svg height="22px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                    </svg>
                    <h3>Phone:</h3>
                    <article>(616) 401-0774</article>
                </div>
            </div>
                <h2 class="midH2">Links</h2>
            <div class="bottomSquares">
                <div class="contactSquare">
                    <svg height="22" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                    </svg>
                    <h3>LinkedIn:</h3>
                    <a href="https://www.linkedin.com/in/ian-hall77"><B>visit page</B></a>
                </div>
                <div class="contactSquare">
                    <svg height="22" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                    </svg>
                    <h3>GitHub:</h3>
                    <a href="https://github.com/ianhallWDJUN22"><B>visit page</B></a>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<div class="bottomSection">
    

    <div class="projects">
        
        <div class="projectBlock" id="projectBlock1">
            <h1 class="projectH1">Projects</h1>


            <h2>Project 1</h2>

            <div class="lowerProjectBlock">
                <div class="imgDiv">
                    <img class="projectPhoto1" src="./images/Defusal-screenshot.png" alt="project1"/>
                </div>
                <div class="projectRight">
                    <h2 class="projectTitle">Defusal</h2>
                    <p class="projectDescription">
                        Defusal is a memory game inspired by old classics such as Operation, Perfection, and Simon Says.
                        You are tasked with disarming a bomb before the time runs out.  To do this you must correctly 
                        repeat 15 sequences of a disarm code.  Make a mistake and you have to restart on a new 
                        sequence.  Make three mistakes and… boom!  This game was built using JavaScript, CSS, and HTML, 
                        utilizing DOM manipulation.
                    </p>
                    <a class="linkToProject">learn more</a>
                </div>
            </div>
        </div>
        
        <div class="projectBlock" id="projectBlock2">
            <h2 class="projectBlockh2">Project 2</h2>

                   <div class="lowerProjectBlock">
                <div class="imgDiv">
                    <img class="projectPhoto1" src="./images/Dungeon-Forge-screenshot.png" alt="project1"/>
                </div>
                <div class="projectRight">
                    <h2 class="projectTitle">Dungeon Forge</h2>
                    <p class="projectDescription">
                        Dungeon Forge is a D&D character creator CRUD app designed to help 
                        inspire ideas and then create and store them.  Sometimes the hardest 
                        step in the creative process is figuring out where to start.  Fortunately 
                        Dungeon Forge allows you to look at a gallery of every user’s created 
                        characters.  Hopefully here you will find the inpiration you need to dive 
                        into the creation process.  This project focuses primarily on 
                        the back-end, utilizing NodeJs, ExpressJs, and MongoDB.
                    </p>
                    <a class="linkToProject">learn more</a>
                </div>
            </div>
        </div>
        
        <div class="projectBlock" id="projectBlock3">
            <h2 class="projectBlockh2">Project 3</h2>

              <div class="lowerProjectBlock">
                <div class="imgDiv">
                    <img class="projectPhoto3" src="./images/baseNote-screenshot.png" alt="project1"/>
                </div>
                <div class="projectRight">
                    <h2 class="projectTitle">baseNote</h2>
                    <p class="projectDescription">
                        baseNote is a community resource for posting and tracking live local music.  
                        Many times I have gotten the sudden itch to see live music of some kind.  At these times I’ve often wished that 
                        there was just one spot that I could go to see a list of every location hosting 
                        live music that night, instead of having to search individual websites, instagram pages,
                         facebook pages etc. one at a time.  baseNote is the answer.  An artist or a venue can create 
                         an account, then post a show which will appear on the main page of the app.  All a user has 
                         to do is open the app and they are greeted with a list of every show taking place including 
                         the date, time, location, and act.  This "mobile-first" web app was built utilizing the MERN stack 
                         (MongoDB, ExpressJS, ReactJS, NodeJS).
                    </p>
                    <a class="linkToProject">learn more</a>
                </div>
            </div>
        </div>
</div>

