<div id="top" class="topSection">
    <div class="header">

        <div class="headerLeft">

            <div class="nav">
                <a class="slide-right" id="nav1" href="#about">ABOUT</a>
                <a id="nav-line">I</a>
                <a class="slide-right" id="nav2" href="#projects">PROJECTS</a>
                <a id="nav-line">I</a>
                <a class="slide-right" id="nav3" href="#contact">CONTACT</a>
            </div>


            <div class="overflow-hidden">
                <h1 class="drop-in">IAN HALL<br>SOFTWARE<br>ENGINEER</h1>
            </div>
            <div class="overflow-hidden">
                <p class="drop-in-2">
                    Welcome to my web dev portfolio!  Below you'll be able to learn a little about me and my passion for coding. You can also take a look at a few of my projects.  Hope you enjoy!
                </p>
            </div>

        </div>
        <div class="headerRight">
        </div>
    </div>

</div>

<div id="about" class="center">
    
    <section>
        <div class="container reveal">
            
            <div class="text-container">
                <h1 class="about-me">About Me</h1>
                <div class="text-box">
                    <p class="top-text">
                        My name is Ian Hall, I'm originally from Michigan, but currently reside in 
                        Asheville, North Carolina, where I've lived for the past 6 years.  I spend my free time hiking the endless 
                        breathtaking mountain trails in the surrounding area, reading and coding in the local coffee shops, or creating and performing music with my four bandmates.
                    </p>
                </div>
                <div class="underline"></div>
                <h1 class="about-me">My Path To Coding</h1>
                <div class="text-box">
                    <p>
                        My work life up until this past year was spent in customer service and team management.  After 10 plus years 
                        of sharpening my communication, collaboration, and leadership skills, I was ready for new challenges in a more 
                        stimulating and rewarding environment.  I was also looking for a work lifestyle that would better suit and support 
                        my art habits.  Having many connections in tech I felt a strong pull to enter the industry myself.  Never being one to 
                        do things halfway, I signed up for a full-time, full immersion, web 
                        development coding bootcamp at Ironhack... I fell in love.
                    </p>
                    <p class="mid-text">
                        Whereas I thought I was pursuing a means to support 
                        my artistic endeavors, what I discovered, to my surprise and delight, was a whole new passion.  Coding allows me to access both the technical engineering and the 
                        creative problem solving sides of my brain in a way that nothing else ever has.  Software engineering, web development, and the tech industry as a whole, provide a never 
                        ending flow of new challenges to overcome and endless opportunities to learn and grow every day. I have without doubt 
                        found my happy place.
                    </p>
                </div>
                <div class="underline"></div>
                <h1 class="about-me">All The Rest</h1>
                <div class="text-box">
                    <p class="bottom-text">
                        Below you’ll find some of the results of my time spent in that happy place.  Each project was built by me entirely from scratch and 
                        completed in about 4-5 days. If you have any comments or questions about the projects or my work 
                        availability or just want to say hello please feel free to do so in the contact form you’ll find at the bottom 
                        of the page.  I’d love to hear from you and will get back to you as soon as I see the message!
                    </p>
                </div>
        </div>
    </section>


</div>


<div id="projects" class="project-section">
   
    <h1  id="projectH1">FEATURED PROJECTS</h1>

    <div class="projects">
        <div class="lowerProjectBlock reveal">
            <div class="imgDiv">
                <h3 class="projectTitle">Defusal</h3>
                <div class="projectBlock1">
                    <img id="project1" class="projectPhoto1" src="./images/Defusal-screenshot.png" alt="project1" />             
                </div>

                <div class="container">
                    <form action="https://ianhallwdjun22.github.io/project-1-game" method="get" target="_blank"
                        rel="noopener noreferrer">
                        <button class="button">view</button>
                    </form>
                    <div class="drip-1"></div>
                    <div class="drip-2"></div>
                    <div class="drip-3"></div>
                </div>

            </div>
        </div>

        <div class="lowerProjectBlock reveal">
            <div class="imgDiv">
                <h3 class="projectTitle">Dungeon Forge</h3>
                <div class="projectBlock2">
                    <img id="project2" class="projectPhoto2" src="./images/Dungeon-Forge-screenshot.png"
                        alt="project1" />
                </div>

                <div class="container">
                    <form action="https://quaint-toad-bracelet.cyclic.app" method="get" target="_blank"
                        rel="noopener noreferrer">
                        <button class="button">view</button>
                    </form>
                    <div class="drip-1B"></div>
                    <div class="drip-2B"></div>
                    <div class="drip-3B"></div>
                </div>

            </div>
        </div>

        <div class="lowerProjectBlock reveal">

            <div class="imgDiv">
                <h3 class="projectTitle">baseNote</h3>
                <div class="projectBlock3">
                    <img id="project3" class="projectPhoto3" src="./images/big-baseNote.png" alt="project1" />
                </div>

                <div class="container">
                    <form action="https://jocular-centaur-f29739.netlify.app" method="get" target="_blank"
                        rel="noopener noreferrer">
                        <button type="submit" class="button">view</button>
                    </form>
                    <div class="drip-1"></div>
                    <div class="drip-2"></div>
                    <div class="drip-3"></div>
                </div>

            </div> 
        </div>

        <p id="hoverInfo"> HOVER OVER A PROJECT TO LEARN MORE!</p>

        <p class="info" id="info1">Defusal is a memory and focus game inspired by old classics such as Operation,
            Perfection, and Simon Says.
            You are tasked with disarming a bomb before the time runs out. To do this you must correctly
            repeat 15 sequences of a disarm code. Make a mistake and you have to restart on a new
            sequence. Make three mistakes and… boom! This game was built using JavaScript, CSS, and HTML,
            utilizing DOM manipulation. (Play with your sound on for the best experience!)</p>

        <p class="info" id="info2">Dungeon Forge is a D&D character creator CRUD app designed to help
            inspire ideas and then create and store them. Sometimes the hardest
            step in the creative process is figuring out where to begin. Fortunately
            Dungeon Forge allows you to look at a gallery of every user’s created
            characters. Hopefully here you will find the inpiration you need to dive
            into the creation process. This project focuses primarily on
            the back-end, utilizing NodeJs, ExpressJs, and MongoDB.</p>

        <p class="info" id="info3">baseNote is a community resource for posting and tracking live local music.
            Instead of having to search individual websites to figure out where live music is being played,
            you can find everything you're looking for in one place; baseNote. An artist or a venue can create
            an account, then post a show which will appear on the main page of the app. All a user has
            to do is open the app and they are greeted with a list of every show taking place including
            the date, time, location, and artist that's playing. This "mobile-first" web app was built
            utilizing the MERN stack: MongoDB, ExpressJS, ReactJS, NodeJS.</p>


    </div>
</div>  
    

<div id="bottom" >

    <div class="reveal" id="contact">
        <h2>Want to get in touch?  Leave a message!</h2>
        <form 
            action="https://formsubmit.co/ianmhall6@gmail.com" method="POST">
            
        <input type="text" name="_honey" style="display: none;">

        <input type="hidden" name="_captcha" value="false">

    <div id="contact-mid">
        <div  id="contact-left">
            <div>
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-input" name="name" id="firstName" required>
            </div>
            <div>
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-input" name="lastName" id="lastName" required>
            </div>
                <label for="emailInfo" class="form-label">E-mail</label>
                <input type="email" class="form-input" name="email" id="emailInfo" required>
            
            <div>
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-input" name="phone" id="phoneNumber">
            </div>
        </div>

        <div id="contact-right">
            <div>
            <div>
                <label for="message" class="message-label">Your Message</label>
            </div>
                <textarea class="form-message" id="message" name="message"></textarea>
            </div>
            <div>
                <button type="submit" class="btn-submit">SEND</button>
            </div>

        </div>

    </div>
        </form>
    </div>


    <div id="bottom-1">
        <div class="fotter-links">
            <div id="github-icon">
                <a href="https://github.com/ianhallWDJUN22" target="_blank" rel="noopener noreferrer">
                    <img class="footer-icon" src="./images/github.png">
                </a>
            </div>

                <div id="github-tag">
                    <article class="bottom-tag">GitHub</article>
                </div>
        </div>

        <div class="footer-links">
            <div id="linkedin-icon">
                <a href="https://www.linkedin.com/in/ian-hall77" target="_blank" rel="noopener noreferrer">
                        <img class="footer-icon" src="./images/linkedin.png">
                </a>    
            </div>

            <div id="linkedin-tag">
                <article class="bottom-tag">LinkedIn</article>
            </div>

        </div>

        <div class="footer-links">
            <div id="resume-icon">
                <a href="https://www.canva.com/design/DAFHGFgqDz0/kwSDxCXZt122wYPAa-7Paw/view?utm_content=DAFHGFgqDz0&utm_campaign=designshare&utm_medium=link&utm_source=viewer"
                target="_blank" rel="noopener noreferrer">
                    <img class="footer-icon" src="./images/resume.png">
                </a>
            </div>

            <div id="resume-tag">
                <article class="bottom-tag">Resumé</article>
            </div>

        </div>

    </div>

    </div>
