<div class="headerLeft">
<h1>Ian Hall</h1>
<p>Full-Stack <br> Web Developer</p>
<p><i>"some quote"</i></p>
</div>

<div class="headshot">
    <img>
</div>

<div class="midSection">
<div>
<h2>Bio:</h2>
</div>
<div>
    <div class="contactTable">
        <div class="topSquares">
            <h2>Contact Me</h2>
            <div class="contactSquare">
                <h3>Email:</h3>
                <article>ianmhall94@gmail.com</article>
            </div>
            <div class="contactSquare">
                <h3>Phone:</h3>
                <article>(616)401-0774</article>
            </div>
        </div>
        <div class="bottomSqures">
            <h2>Links</h2>
            <div class="contactSquare">
                <h3>LinkedIn:</h3>
                <a href="https://www.linkedin.com/in/ian-hall77">to LinkedIn page</a>
            </div>
            <div class="contactSquare">
                <h3>GitHub:</h3>
                <a href="https://github.com/ianhallWDJUN22">to GitHub page</a>
            </div>
        </div>
    </div>
</div>
</div>

