
<div class="topSection">
<div class="header">

 <div class="headerLeft">

    

     <div class="overflow-hidden">
  <h1 class="drop-in">IAN HALL's WEB-DEV PORTFOLIO</h1>
 </div>
 <div class="overflow-hidden">
  <p class="drop-in-2">
   Animating text on page load using css animation api without any
   javascipt. Refresh to check the animation one more time.
  </p>
 </div>
       
    </div>
    <div class="headerRight">

    </div>
</div>

</div>

    <div class="center">
       <section>
  <div class="container reveal">
    <h2></h2>
    <div class="text-container">
      <div class="text-box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
          eius molestiae perferendis eos provident vitae iste.
        </p>
      </div>

    </div>
    </div>
    </section>
    </div>


<div class="bottomSection">
    
    <div class="projects">
        
            <div class="lowerProjectBlock">
                <div class="imgDiv">
                    <h3 class="projectTitle">Defusal</h3>
                    <div class="projectBlocks">
                    <img class="projectPhoto" src="./images/Defusal-screenshot.png" alt="project1"/>
                    <p class="project-text">
                        Defusal is a memory game inspired by old classics such as Operation, Perfection, and Simon Says.
                        You are tasked with disarming a bomb before the time runs out.
                    </p>
                    {{!-- <p class="projectDescription">
                        Defusal is a memory game inspired by old classics such as Operation, Perfection, and Simon Says.
                        You are tasked with disarming a bomb before the time runs out.  To do this you must correctly 
                        repeat 15 sequences of a disarm code.  Make a mistake and you have to restart on a new 
                        sequence.  Make three mistakes and… boom!  This game was built using JavaScript, CSS, and HTML, 
                        utilizing DOM manipulation.
                    </p> --}}
                   
                    </div>
                    <div class="container">
                        <button class="button">View</button>
                        <div class="drip-1"></div>
                        <div class="drip-2"></div>
                        <div class="drip-3"></div>
                    </div>

                </div>
            </div>

            <div class="lowerProjectBlock">
                <div class="imgDiv">
                    <h3 class="projectTitle">Dungeon Forge</h3>
                    <div class="projectBlocks">
                    <img class="projectPhoto" src="./images/Dungeon-Forge-screenshot.png" alt="project1"/>
                
                    {{!-- <p class="projectDescription">
                        Dungeon Forge is a D&D character creator CRUD app designed to help 
                        inspire ideas and then create and store them.  Sometimes the hardest 
                        step in the creative process is figuring out where to begin.  Fortunately 
                        Dungeon Forge allows you to look at a gallery of every user’s created 
                        characters.  Hopefully here you will find the inpiration you need to dive 
                        into the creation process.  This project focuses primarily on 
                        the back-end, utilizing NodeJs, ExpressJs, and MongoDB.
                    </p> --}}
                     </div>
                    <div class="container">
                        <button class="button">View</button>
                        <div class="drip-1B"></div>
                        <div class="drip-2B"></div>
                        <div class="drip-3B"></div>
                    </div>
                   
                    
                </div>
            </div>

            <div class="lowerProjectBlock">
                <div class="imgDiv">
                    <h3 class="projectTitle">baseNote</h3>
                    <div class="projectBlocks">
                    <img class="projectPhoto" src="./images/big-baseNote.png" alt="project1"/>
                
                    {{!-- <p class="projectDescription">
                        baseNote is a community resource for posting and tracking live local music.  
                        Many times I have gotten the sudden itch to see live music of some kind.  At these times I’ve often wished that 
                        there was just one spot that I could go to see a list of every location hosting 
                        live music that night, instead of having to search individual websites, instagram pages,
                         facebook pages etc. one at a time.  baseNote is the answer.  An artist or a venue can create 
                         an account, then post a show which will appear on the main page of the app.  All a user has 
                         to do is open the app and they are greeted with a list of every show taking place including 
                         the date, time, location, and act.  This "mobile-first" web app was built utilizing the MERN stack 
                         (MongoDB, ExpressJS, ReactJS, NodeJS).
                    </p> --}}
                    </div>
                    <div class="container">
                        <button class="button">View</button>
                        <div class="drip-1"></div>
                        <div class="drip-2"></div>
                        <div class="drip-3"></div>
                    
                    </div>
                </div>
            </div>
    </div>
</div>
<div footer>

</div>

