<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="navbar">
     
       <div>
         <a class="navHome" href="/">Home</a>
       </div>
       <div class="dropdown">
        <button class="dropbtn">Projects</button>
        <div class="dropdown-content">
          <a href="/project1">Project 1</a>
          <a href="/project2">Project 2</a>
          <a href="/project3">Project 3</a>
        </div>
       </div>
      
    </nav>

    {{{body}}}

    <footer id="footer">
      
    </footer>

    <script src="/js/script.js"></script>
  </body>

</html>