@import url('https://fonts.googleapis.com/css?family=Cairo');
body {
  margin: 0 0;
  font-family: Helvetica, Arial, sans-serif;
  background: black;
}


/* NAV */


.nav {
  font-size: 20px;
  color:#1d072e;
  padding-left: 95px;
  margin-top: 10px;
}

#nav-line {
  text-shadow: 0 0 1px rgb(137, 22, 175);
  color:rgb(116, 38, 153)
}

.slide-right:hover {
  text-shadow: 0 0 1px rgba(85, 56, 214, 0.83);
  color:rgb(133, 59, 195)
}

.nav a {
  float: left;
  font-size: 18px;
  color:#1d072e;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
}

#nav-line {
  font-size: 20px;
  animation-duration: .8s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: 1.5s;
  
}



.slide-right {
  overflow:hidden;
}
.slide-right {
  animation-name: slide-right;
  animation-delay: 5s slide-right;
  animation: 1.5s slide-right;
  
}

@keyframes slide-right {
  from {
    opacity: 0%;
    margin-left: -100%;
  }

  to {
    opacity: 100%;
    margin-left: 0%;
  }
}




/* HEADER*/

.overflow-hidden {
  overflow: hidden;
 }
 
 .drop-in {
  animation: drop-in 1s ease 200ms backwards;
  animation-delay: .5s;
 }
 
 .drop-in-2 {
  color: rgb(39, 2, 56);
  animation-duration: 2.5s;
  animation-name: animate-fade;
  animation-fill-mode: backwards;
  animation-delay: .7s;
 }
 
 @keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }

 @keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 


.topSection {
 background: rgb(255, 255, 255);
}


.header {
  display: flex;
  flex-direction: row;
  height: 670px;
  border: inset 3px rgb(0, 0, 0);
  
}



.headerLeft {
  display: flex;
  flex-direction: column;
	font-family: "Cairo";
	color: black;
	display: flex;
	flex-direction: column;
	letter-spacing: 1px;
  min-width: 650px;
  max-width: 650px;
  margin-right: 2%;
  margin-left: 2%;
  
}



h1 {
	/* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); */
  background-image: url("../images/Screen Shot1.png");
	background-size: cover;
  background-position: bottom;
	color: transparent;
  text-align: center;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 100px;
  margin-top: 35px;
  margin-bottom: 57px;
}

p {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 22px;

}





.headerRight {
  padding-top: 0;
  margin-top: 0;
  flex:3;
  background-image: url("../images/paint-head.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  animation-duration: 4s ease;
  animation-fill-mode: backwards; 
  animation-name: slide-left;
  animation:  slide-left 6s;
  
  
  
}

@keyframes slide-left {
  from {
    
    padding-left: 70%;
  }

  to {
   
    padding-left: 0%;
  }
}





/* MID SECTION */




.center {
  background: rgb(152,54,233);
  background: radial-gradient( rgba(120, 54, 233, 0.51) 0%, rgb(28, 2, 52) 60%, rgb(4, 0, 7) 100%);
  height: 400px;
  font-family: Calibri, sans-serif;
  color: white;


}

@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

section{
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1){
  color: #e0ffff;
  }
section:nth-child(3){
  color: #e0ffff;
}



@media (max-width: 900px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
  }
}

.reveal{
  position: relative;
  transform: translateY(60px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/* BUTTON DRIP ANIMATION */



.container{
  position:relative;
  margin: auto;
  
}

.button {
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  background: radial-gradient( rgb(167, 26, 198), #8e0edd );
  border-radius: 0px 0px 50px 50px;
  padding: 30px 112px;
  border: none;
  transition: .5s ease;
  box-shadow: 0 10px 40px -6px rgba(75, 12, 98, 0.636);
  transition: box-shadow 0.9s ease;
}

.button:hover {
  box-shadow: none;
  cursor: pointer;
  background: radial-gradient( #8e0edd, #8e0edd );
}

form:hover + .drip-1{
  height: 50px;
}

form:hover ~ .drip-2{
  height: 90px;
}

form:hover ~ .drip-3{
  height: 24px;
}


.drip-1{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:linear-gradient( #8e0edd, rgb(216, 67, 164));
  margin: 0px 178px;
  transition: height 0.9s ease;
}


.drip-2{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:linear-gradient( #8e0edd, rgb(235, 105, 135));
  margin: 0px 160px;
  transition: height 1.5s ease;
  z-index: 1;
}

.drip-3{
  position:absolute;
  width:30px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:linear-gradient( #8e0edd, rgb(228, 83, 156));
  margin: 0px 65px;
  transition: height 1.3s ease;
}


form:hover + .drip-1B{
  height: 50px;
}

form:hover ~ .drip-2B{
  height: 90px;
}

form:hover ~ .drip-3B{
  height: 32px;
}


.drip-1B {
  position:absolute;
  width:21px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:linear-gradient( #8e0edd, rgb(228, 83, 156));
  margin: 0px 67px;
  transition: height 0.9s ease;
}

.drip-2B{
  position:absolute;
  width:19px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:linear-gradient( #8e0edd, rgb(235, 105, 135));
  margin: 0px 88px;
  transition: height 1.5s ease;
  z-index: 1;
}

.drip-3B {
  position:absolute;
  width:25px;
  height:0px;
  border-radius:0 0 21px 21px;
  background:linear-gradient( #8e0edd, rgb(228, 83, 211));
  margin: 0px 170px;
  transition: height 1.2s ease;
}



/* PROJECT SECTION */





#projectH1 {
  font-size: 55px;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-top: 0px;
  background-position: bottom;
  
  
}


.project-section {
  background: white;
  padding-top: 30px;
  border: solid 2px black;
  border-radius: 30px 30px 0px 0px; 
}


.projects {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 700px;
  background-image: url("../images/paint-blot2.png");
  background-size: fit ;
  background-repeat: no-repeat ;
  background-position: right;
  background-position-y: bottom;
}


.lowerProjectBlock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 0px;
}



h3 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 45px;
  color: rgb(59, 21, 68);
  text-shadow: 1px 1px 1px rgba(230, 223, 223, 0.626);
  
}



.projectBlock1 {
  border:2px solid #991ee5;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background: rgb(243, 233, 219);
}
.projectBlock2 {
  border:2px solid #991ee5;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background: rgb(243, 233, 219);
}
.projectBlock3 {
  border:2px solid #991ee5;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  background: rgb(243, 233, 219);
}


.projectPhoto1 {
  height: 220px;
  width: 268px;
}

.projectPhoto2 {
  height: 220px;
  width: 268px;
}
.projectPhoto3 {
  height: 220px;
  width: 268px;
}


#hoverInfo {
  position: absolute;
  z-index: 1;
  color:rgba(39, 2, 56, 0.588);
  margin-top: 545px;
  font-size: 18px;
}

.info {
  position: absolute;
  z-index: 2;
  color: rgb(60, 33, 73);
  box-shadow: 0 10px 40px -6px rgba(75, 12, 98, 0.5);
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: justify;
  align-self: center;
  margin: 15%;
  margin-top: 415px;
  margin-bottom: 0px;
  background: white;
  border-radius: 5px;
  font-family: "Cairo";
  line-height: 1.3em;
  transition: display .5s ease
}

#info1 {
  display: none;
  
}

#info2 {
  display: none;
  
}

#info3 {
  display: none;
  
}




/* CONTACT */


#contact {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-label {
  display: flex;
  flex-direction: column;
}


/* FOOTER */

#bottom {
  background: linear-gradient(rgb(13, 1, 22) 15%,rgb(54, 11, 100) );
  min-height: 500px;
  padding-top: 60px;
  padding-bottom: 50px;
}

#bottom-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  min-height: 80px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.footer-icon {
  margin-left: 60px;
  margin-right: 60px;
}

a:hover {
  cursor: pointer;
}


.bottom-tag {
  font-size: 12px;
  text-align: center;
  color: rgba(199, 222, 253, 0.913);
  margin-top: 5px;
}



#linkedin-tag {
  display: none;
  
}
#linkedin-icon:hover + #linkedin-tag {
  display: block;
}



#github-tag {
  display: none;
  
}
#github-icon:hover + #github-tag {
  display: block;
}



#resume-tag {
  display: none;
  
}
#resume-icon:hover + #resume-tag {
  display: block;
}

#contact {
  padding: 40px;
  margin-top: 70px;
  border: .5px solid rgba(216, 242, 248, 0.655);
  border-radius: 10px;
  background: rgb(92,63,251);
  background: radial-gradient( rgba(92,63,251,1) 20%, rgba(134, 29, 214, 0.813) 100%);
  color: whtie;
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0 10px 40px -3px rgba(55, 101, 230, 0.5);
}

#contact-mid {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
}

#contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.form-input {
  width: 240px;
  font-size: 14px;
  text-align: center;
  margin-bottom: 16px;
  padding: 2px;
  border:1px solid rgba(87, 0, 128, 0.745);
  border-radius: 2px;
}



.form-message {
  width: 320px;
  height: 188.5px;
  padding: 8px;
  font-size: 15px;
  border:1px solid rgba(87, 0, 128, 0.745);
  border-radius: 2px;

}

.btn-submit {
  margin-top: 20px;
  width: 100px;
  font-size: 13px;
  padding: 4px;
  background: radial-gradient(  #faf9fa 50%, rgb(187, 182, 189));
  box-shadow: 0 10px 40px -3px rgba(0, 0, 0, .5);
  border: .5px solid rgba(216, 242, 248, 0.968);
  border-radius: 3px;
  color: rgb(141, 32, 230);
  cursor: pointer;
  letter-spacing: 1px;

}


h2 {
  margin-bottom: 30px;
}

.footer-icon {
  width: 54px;
}